.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.title{
    margin-top: 1rem;
}

.mover_container{
    display: flex;
    justify-content: center;
    overflow: hidden;
    gap: 1rem;
    margin-bottom: 2rem;
}
.mover_wrapper{
    display: flex;
    /* width:18rem; */
    width: 100%;
    height: 100%;
    border: 2px solid rgba(0,0,0,0.1);
    margin-top: 1rem;
    padding: 1rem;
    gap: 3rem;
    /* transform: translateX(-910px); */
    animation-delay: 10s;
    animation: infinite 100s slider linear;
    background-color: #fff;
}

@keyframes slider{
    0%{
        transform: translateX(910px);
    }
    50%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-910px);
    }
}

.coin__details{
    display: flex;
    flex-direction: column;
    width: 10rem;
    gap: 0.5rem;
}
.mover__desc{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    /* flex-wrap: nowrap; */
    gap: 0.25rem;
}

.mover__logo{
    width: 2.5em;
}

.skeleton__logo{
    height: 2rem;
    width: 2rem;
    background-color: rgba(0,0,0,0.2);
    border-radius: 100%;
}

.skeleton_symbol,
.skeleton__price,
.skeleton_percent,
.skeleton_name{
    height: 1rem;
    width: 3rem;
    background-color: rgba(0,0,0,0.2);
}

.skeleton_name{
    width: 60%;
}
.skeleton_symbol{
    width: 40%;
}
.skeleton__price{
    width: 100%;
}