
.logo{
    width: 100%;
    max-width: 15rem;
}

.wrapper{
    display: flex;  
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
}

.home:hover{
    cursor: pointer;
}